@import "../../css-configration/mixins.scss";


.singleFrdSection,
.singleFrdSection * {
  box-sizing: border-box;
}
.singleFrdSection {
  scrollbar-width:none;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
 min-height: 100vh;
  max-width: 1360px;
  min-height: 504px;
  position: relative;


  @include sm{
    width: 100%;
    .snglFrdPro{
      height: max-content;
      .snglFrdProBgImg{
        img{
          max-height: 200px;
        }
      }
      .snglFrdProNameContainer{
        flex-direction: column;
        .snglContf{
          flex-wrap: wrap;
          gap: 20px 10px;
          .snglImg{

          }
          .snglName{  
    min-width: 180px;
          }
        }
        .frame154{
          width: 100%;
          .snglLike{
            min-width:100px ;
          }
          .snglFollow{
            min-width:100px ;

          }
          .snglMessage{
            min-width: 180px;
          }
        }
      }
    }
    .snglOptions{
      .optionContainer{
        .more{
        display: none;
        }
      }
    }
  }
}
.snglFrdPro {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  // height: 350px;
//   max-width: 900px;/
  position: relative;
  overflow: hidden;
}
.snglFrdProBgImg {
  background: #ec3c3c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height:calc(100% - 100px);
  
  position: relative;
  overflow: hidden;
  img{
    width: 100vw;
    height: 250px;
  object-fit: cover;


  }
}

.snglFrdProNameContainer {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.47);
  border-width: 0px 0px 1px 0px;
  padding: 0px 0px 13px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
//   height: 200px;
}
.snglContf {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;

  .frnd-status-btn{
    position: relative;
    // right: 20px;
    background-color: #2668ec;
    padding: 2px 10px;
    border-radius: 5px;
    
  }
}
.snglImg {
  align-self: stretch;
  flex-shrink: 0;
  width: 104px;
  position: relative;
}
.userImg {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
  position: absolute;
  left: -2px;
  top: -36px;
  img {
    border-radius: 50%;
    align-self: stretch;
    // flex: 1
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
  }
}

.snglName {
  padding: 0px 6px 0px 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.userName {
  
    // justify-content: space-between;
    text-transform: capitalize;
    gap: 20px;

    width: 100%;
    h4{
        font-family: "Inter-Regular", sans-serif;
    }
 
}
.snglFlowr {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.five6Likes {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one1KFollowers {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more1 {
  flex-shrink: 0;
  width: 32px;
  height: 29.09px;
  position: absolute;
  right: 0px;
  top: 4px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.frame154 {
  padding: 4px 10px 4px 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 232px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.snglLike {
  background: rgba(74, 74, 83, 0.84);
  border-radius: 15px;
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  min-width: 82px;
  position: relative;

  overflow: hidden;
}
.like {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbUp1 {
  flex-shrink: 0;
  width: 15.48px;
  height: 17px;
  position: relative;
 
  object-fit: cover;
}
.snglFollow {
  background: rgba(41, 23, 249, 0.73);
  border-radius: 15px;
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  min-width: 82px;
  position: relative;
  overflow: hidden;
}
.follow {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.snglMessage {
  background: rgba(41, 23, 249, 0.73);
  border-radius: 15px;
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 30px;
  min-width: 82px;
  position: relative;
  overflow: hidden;
}
.message {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.snglOptions {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
//   overflow: hidden;
}
.optionContainer {
  background: rgba(255, 255, 255, 0.77);
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 53px;
  position: relative;
  overflow: hidden;
}
.option-btn {
  border-radius: 10px;
  border-style: solid;
  border-color: #090909;
  border-width: 0px 0px 2px 0px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  // flex-shrink: 0;
  min-width: 50px;
  height: 30px;
  max-width: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .2s ease ;
  .opt-txt{
    color: #000000;
    font-size: 1rem;
    text-transform: capitalize;
  }
  img{
    object-fit: cover;
  }
}
.option-btn:hover{
    background-color: #2449c2;
    .opt-txt{
        
        color: white;
    }
}



.optionOutletContainer {
  padding: 7px 10px 7px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frndOptSection {
  border-radius: 11px;
  border-style: solid;
  border-color: rgba(244, 235, 235, 0.43);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  // height: 138px;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}
.frndOptHeader {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.44);
  border-width: 0px 0px 1px 0px;
  padding: 0px 21px 0px 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 37px;
  position: relative;
  overflow: hidden;
}
.frndHeading {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 158px;
  position: relative;
  overflow: hidden;
}
.friends2 {
  color: #110e0e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one20 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 63px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frndSrhSection {
  background: rgba(167, 170, 176, 0.68);
  border-radius: 5px;
  padding: 0px 9px 0px 9px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 189px;
  height: 26px;
  position: relative;
  overflow: hidden;
}
.srhIcon {
  flex-shrink: 0;
  width: 20px;
  height: 15px;
  position: relative;
  overflow: visible;
}
.srhField {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frndListSection {
  padding: 0px 36px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  padding: 1rem;
}
.frndContainer {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  border-style: solid;
  border-color: #f4e7e7;
  border-width: 1px;
  padding: 7px 10px 7px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 212px;
  height: 62px;
  position: relative;
  overflow: hidden;
}
.frndImg {
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 62px;
  position: relative;
  overflow: hidden;
}
.iWantASocialbudyLogo3DRender11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.frndName {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.username {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.moreIcon {
  flex-shrink: 0;

  position: absolute;
  right: 9.8px;
  cursor: pointer;
  top: 8.5px;
  overflow: visible;
}
