
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './css-configration/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@layer utilities {

    .primary-px{
        padding: 0px .7rem;
    }
    .primary-py{
        padding:.7rem 0px;
    }
    .primary-p{
        padding:.7rem;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .primary-bg{
      background-color: #222831;
    }
    .secondary-bg{
        background-color: #393E46;

    }
    .tertiary{
      background-color: #FD7014;
    }
    .light-bg{
        background: #eceff4f9;
        color: #393E46;
    }
    .light-dark{
        background: #393e4690;
    }
    .primary-font{
        color: rgb(255, 255, 255);
    }
    .secondary-font{
        color: rgb(216, 229, 247);
    }
    .tertiary-font{
        color: #FD7014;
    }
    .primary-h1{
        font-size: 30px;
    }
    .secondary-h2{
        font-size: 20px;
    }
    .tertiary-h3{
        font-size: 15px;
    }
    
    .custom-text {
      font-size: 1.5rem;
      color: #333;
      
    }

// scrollbar -style
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  }

.open-sans{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  }
  
  .icon{
    color: white;
  }

  body{
    // font-family: "Libre Franklin", sans-serif;
    font-family: "Work Sans", sans-serif;
    // font-family: "", sans-serif;

    color: rgb(215, 211, 238);
    background: #080D1F;
  }
//   .flex{
//     display: flex;
//     flex: 1;
//     width: 100%;
//   }
//  body::-webkit-scrollbar {
//     width: 0;  /* Remove scrollbar space */
//     background: transparent;  /* Optional: just make scrollbar invisible */
// }
p,ul,li{
    margin: 0;
    padding: 0;
}
.row-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex:1;

}
// .flex{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.correct-in{
    background: rgba(46, 28, 252, 0.28);
    border-style: solid;
    border-color: #04ac29;
    border-width: 3px;
    box-shadow: inset -4px -4px 10px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.wrong-in{
    background: rgba(255, 57, 30, 0.28);
    border-style: solid;
    border-color: rgba(249, 60, 94, 0.59);
    border-width: 3px;
    box-shadow: inset -4px -4px 10px 0px rgba(0, 0, 0, 0.25), inset 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.column-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex:1;

}
.pointer{
    cursor: pointer;
}

.text-heading{
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize
    
}
.text-in{
    text-transform: capitalize;
}
.Toastify{
   position: relative;


    @include sm{
        position: fixed;
        --toastify-toast-min-height: 40px;
        
      bottom: 20px;
      display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
      border-radius: 5px;
      z-index: 5;
      
      .Toastify__toast{
        border-radius: 10px;
      }
    }
}

.icon{
    cursor: pointer;
}
.hide{
    display: none;
}
.visible{
    display: flex;
}
textarea{
    outline: none;
}

input:focus,textarea:focus{
    outline: none;
    border: none;
}
.pop-menu{
    display: none;
    width: 100%;
    height: 100%;
    gap: 0;
    justify-content: flex-end;
    align-items: flex-end;
    .arrow-icon{
        // position: relative;
        // top: 4px;
        // width: 50px;
        // line-height: 10px;
        font-size: 10px;
        color: #fff;
        right: 0;
    }
    .menu-container{
        background-color: #fff;
        box-shadow: 0px -1px 1px 0px white;
        width: 100%;
        height: 100%;
        flex: 1;
        .m-title{
            .icon{

            }
            h6{

            }
        }
    }
}
 
